# Configurações do Banco de Dados Local (PostgreSQL)
# Não é necessário alterar para o Docker (ele usa o do docker-compose)
# DATABASE_URL=postgres://norum:senha-segura-123@db:5432/norumdb

# Segredo para autenticação do Backend (Node.js)
JWT_SECRET=sua-super-senha-secreta-mude-aqui

# Credenciais de acesso ao painel
ADMIN_USER=admin
ADMIN_PASS=senha123
